<h1>Create A New Coupon</h1>
<%= form_tag coupons_path do %>
<label></label>
<%= text_field_tag :'coupon_code' %><br>
<label></label>
<%= text_field_tag :'store'%><br>
<%= submit_tag "Submit"%>
<% end %>